---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getPostArchives from "@utils/getPostArchives";
import BackToTop from "@components/BackToTop.astro";

import { SITE } from "@config";

const blog = await getCollection("blog");

const { postData, total } = getPostArchives(blog);

const yearList = Array.from(postData.keys());
yearList.sort((a, b) => b - a);
---

<Layout title={`Archives | ${SITE.title}`}>
  <Header activeNav="archives" />
  <Main
    pageTitle="Archives"
    pageDesc={`${total} articles in total`}
    class="archives-main"
  >
    <div class="archives relative">
      <div class="archives-container">
        {
          yearList.map(year => (
            <section class="section-container">
              <h2 class="section-year">{year}</h2>
              <div class="section-list">
                {postData.get(year)!.map(post => (
                  <div class="section-list-item">
                    <a
                      href={`/posts/${post.url}/`}
                      class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
                    >
                      <h2 class="text-lg font-medium decoration-dashed hover:underline">
                        {post.title}
                      </h2>
                    </a>
                  </div>
                ))}
              </div>
            </section>
          ))
        }
      </div>
    </div>
    <div class="flex justify-end">
      <BackToTop />
    </div>
  </Main>
  <Footer />
</Layout>

<style>
  .archives::before {
    position: absolute;
    top: 2em;
    bottom: 1em;
    left: 0;
    height: auto;
    content: "";
    background-color: rgba(var(--color-accent), var(--tw-text-opacity));
    width: 3px;
  }
  .archives-container {
    padding: 1.5em 14px;
  }
  .section-year {
    font-size: 1.8em;
    position: relative;
    margin: 20px 0;
  }
  .section-year::before {
    top: 16px;
    background-color: rgba(var(--color-fill), var(--tw-bg-opacity));
    width: 12px;
    height: 12px;
    border: 2px solid rgba(var(--color-accent), var(--tw-text-opacity));
  }
  .section-list-item {
    position: relative;
    margin: 20px 0;
  }
  .section-list-item::before,
  .section-year::before {
    position: absolute;
    left: -34px;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
  }
  .section-list-item::before {
    top: 10px;
    background-color: rgba(var(--color-accent), var(--tw-text-opacity));
    width: 10px;
    height: 10px;
  }
</style>
