---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import DateTime from "@components/Datetime.tsx";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getPostArchives from "@utils/getPostArchives";

import { SITE } from "@config";

const blog = await getCollection("blog");

const postData = getPostArchives(blog);

const yearList = Array.from(postData.keys());
yearList.sort((a, b) => b - a);
---

<Layout title={`Archives | ${SITE.title}`}>
  <Header activeNav="archives" />
  <Main
    pageTitle="Archives"
    pageDesc="All the archives used in blog."
    class="archives-main"
  >
    <div class="archives">
      <div class="archives-container">
        {
          yearList.map(year => (
            <section class="section-container">
              <h2 class="section-year">{year}</h2>
              <div class="section-list">
                {postData.get(year)!.map(post => (
                  <div class="section-list-item">
                    <a href={`/blog/${post.url}/`} class="title">
                      {post.title}
                    </a>
                    <div class="date">
                      <DateTime pubDate={post.pubDate} modDate={post.modDate} />
                    </div>
                  </div>
                ))}
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </Main>
  <Footer />
</Layout>

<style>
  #main-content p {
    margin-bottom: 0;
  }
  .archives {
    position: relative;
  }
  .archives::before {
    position: absolute;
    top: 2em;
    bottom: 1em;
    left: 0;
    height: auto;
    content: "";
    background-color: rgba(var(--color-accent), var(--tw-text-opacity));
    width: 3px;
  }
  .archives-container {
    padding: 1.5em 14px;
  }
  .section-year {
    font-size: 1.8em;
    position: relative;
    margin: 20px 0;
  }
  .section-year::before {
    top: 16px;
    background-color: rgba(var(--color-fill), var(--tw-bg-opacity));
    width: 12px;
    height: 12px;
    border: 2px solid rgba(var(--color-accent), var(--tw-text-opacity));
  }
  .section-list-item {
    position: relative;
    margin: 20px 0;
  }
  .section-list-item::before,
  .section-year::before {
    position: absolute;
    left: -34px;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
  }
  .section-list-item::before {
    top: 10px;
    background-color: rgba(var(--color-accent), var(--tw-text-opacity));
    width: 10px;
    height: 10px;
  }
  .title {
    font-size: 1.2em;
  }
  .date > time {
    font-size: 1em;
  }
</style>
